[submodule "Orca/vendor/spdlog"]
	path = Orca/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Orca/vendor/GLFW"]
	path = Orca/vendor/GLFW
	url = https://github.com/mrwhalen22/glfw
[submodule "Orca/vendor/imgui"]
	path = Orca/vendor/imgui
	url = https://github.com/mrwhalen22/imgui
[submodule "Orca/vendor/glm"]
	path = Orca/vendor/glm
	url = https://github.com/g-truc/glm
